table {
    margin: 50px auto;
    font-size: 4rem;
    border: 2px solid black;
    font-weight: 400;
}

th, td {
    padding: 13px;
    border: 2px solid black;
    font-weight: 400;
}


th {
    text-align: start;
    font-weight: 400;
}